@font-face {
    font-family: jaffna;
    src: url(PostNoBillsJaffna-Bold.woff);
}
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");


:root{
    --bgcolor: #031e1d;
    --titlecolor: #13cf3d;
    --socialcolor: #0fab63;
}


body{
    background-color: var(--bgcolor);
    text-align: center;
    font-family: jaffna;
}

h1{
    color: var(--titlecolor);
    margin-top: 0%;
    margin-bottom: -5px;
    font-size: 700%;
}

h6{
    color: var(--titlecolor);
    font-size: 200%;
}

/* ICONS */
i{
    display: inline-block !important;
}

.icon{
    font-size: 200%;
    color: var(--titlecolor);
    padding-right: 15px;
    text-decoration: none;
}

a:hover, a:focus {
    color: var(--socialcolor);
}


/* MEDIA */
@media only screen and (max-width: 507px) {
    h1 {
        margin-top: 15%;
        font-size: 400%;
    }
    h6{
        font-size: 150%;
    }   
  }


.area{
    margin-top: 6.2%;
    margin-bottom: 5%;
}
